@keyframes scaling {
    50%{
        transform: translateY(0);
        transform:scale3d(0.9,0.9,0.9);
    }
    
}

@keyframes floating {
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(20px);
    }
    
}