body{
    font-family: "Mulish" ;
    color:black;
}


a{
    text-decoration: none;
    color: black;
}

li {
    display: block;
}
button{
    background: #FFFFFF;
    width: 200px;
    height: 56px;
    color: #458FF6;
    font-weight: 700;
    font-size: 18px;    
    line-height: 60px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    

}
button:hover{
    animation: scaling 1s linear infinite;
}



h2{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 56px;
}
h3{
    font-weight: 700;
    font-size: 1.5rem;
    
 
}
img{
    max-width: 100%;
}

@media screen and (max-width: 760px) {
    :root{
        font-size: 12px;
    }
    button{
        width: 280px;


    }
    
    
}



.second-title{
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 30px;
    color: #7D7987;
}



.paragraph{
    font-weight: 300;
    font-size: 1.313rem;
    line-height: 32px;
    color: #7D7987;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
}
@media screen and (max-width: 1124px) {
    .container{
        padding: 0 40px;
    }
    
}
.separated-line{
    height: 2px;
    width: 3.5rem;
    border-radius: 5px;
    background-color: black;
    
}